* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}
.container {
    position: relative;
    /* background-color: #ccc; */
    width: 100%;
    height: 920px;
    /* display: flex; */
    /* align-items: center;
    justify-content: center; */
}

.box {
    position: absolute;
    width: 95px;
    height: 95px;
    /* border-radius: 30%; */
    background-color: black;
    animation-name: rotate_box, run;
    animation-duration: 3s, .1s;
    animation-iteration-count: infinite, infinite;
    /* animation-direction: alternate; */
}

.box_1 {

    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-top: solid 2px red;
    background-color: #fff;
    animation: run 1s linear infinite;
}

.box_w {
    display: block;
}

.boxc {
    display: block;
    height: 100px;
    width: 100px;
    background-color: red;
    /* margin: 10px; */
    position: relative;
}

.box_w_1 {
    position: absolute;
    top: 0;
    left: 0;
    animation: run2 2s linear infinite;
}

.box_w_2 {
    position: absolute;
    top: 0;
    left: 0;
    animation: run2 2s linear calc(2s/3) infinite;
} 

.box_w_3 {
    position: absolute;
    top: 0;
    left: 0;
    animation: run2 2s linear calc(4s/3) infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}



@keyframes rotate_box {
    0% {
        /* transform: rotate(0deg); */
        top:0;  left:0;
    }

    25% {
        /* transform: rotate(72deg); */
        top: 0;
        left: calc(100% - 100px);
    }

    50% {
        /* transform: rotate(144deg); */
        top: calc(100% - 100px);;
        left: calc(100% - 100px);
    }

    75% {
        /* transform: rotate(216deg); */
        left: 0;
        top: calc(100% - 100px);
    }

    100% {
        /* transform: rotate(360deg); */
        top: 0;
        left: 0;
    }
}

@keyframes run {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes run2 {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(110px,0);
    }

    50% {
        transform: translate(110px, 105px);
    }

    75% {
        transform: translate(0, 105px);
    }

    100% {
        transform: translate(0, 0);
    }
}

