* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../img/anhphongcanh.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(3px);
    color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item-form {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    padding: 8px 0 8px 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}

input:focus {
    outline: none;
    font-size: 16px;
}

.click_login {
    width: 100%;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
