/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #373737;
}
/* 
1. Từ trong vào ngoài
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
*/
/* 
1. Vị trí
2. Kích thước (width, height)
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông....)
*/

#main {
    padding: 0 16%;
    width: 100%;
}
/* HEADER */
#header {
    display: block;
    top: 0;
    z-index: 5;
    height: 180px;
    width: 100%;
    background-color: #fff;
    padding: 70px 0;
    font-size: 18px;
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: ease;
}

.header-inner {
    display: flex;
    box-sizing: border-box;
    padding-top: 5px 0; 
    justify-content: space-between; 
    align-items: center; 
}

.header-inner .header_logo {
    display: flex;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    letter-spacing: 3px;
    align-items: center;
} 

.header_logo span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
    height: 40px; 
    color: #FFF;
    background-color: #000; 
    border-radius: 4px;  
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-right: 12px;
}

.header-inner span:hover {
    opacity: 0.7;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

#header .social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
}

#header .social a {
    display: flex;
    color: #F26464;
    margin-left: 13px;
    border-radius: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-around;
}

#header .social a:hover {
    color: black;
    opacity: 0.9;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}
/* BANNER */
#banner {
    
}

#banner .profile {
    display: flex;
}

.profile .image img{
    width: 526px;
}

.profile .quickview {
    display: flex;
    flex-direction: column;
    /* margin-left: 30px; */
    padding-left: 100px; 
    padding-right: 100px;
}

.profile .quickview p {
    letter-spacing: 1px;  
    font-weight: 500; 
    font-size: 16px; 
    padding-bottom: 30px; 
}

.profile .quickview h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    color: #000;
}

.profile .exp {
    display: flex;
    margin-top: 63px;
    /* margin-left: -30px; */
    /* margin-right: 60px; */
    justify-content: space-between;
    padding-right: 60px;
    font-weight: bold;
    margin-right: 100px;
}

.profile .exp strong {
    display: block; 
    color: #F26464; 
    font-size: 36px; 
    font-weight: 800;
    letter-spacing: 1px; 
    margin-bottom: 7px;
}

.profile .exp p {
    font-size: 16px; 
    letter-spacing: 1.5px;
    font-weight: 400;
}
.sub_heading {
    display: inline-block;
    font-weight: 700px;
    border-bottom: 3px solid #F26464;
    font-size: 16px;
    margin-bottom: 23px;
    padding-bottom: 7px;
    letter-spacing: 1px;
    color: #000;
}
#content {
    margin-top: 60px;
    margin-bottom: 120px;
}
/* About section */
 p {
    font-size: 24px;
    color: #373737;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 60px;
}

.about-section .button_about {
    text-align: center;
}

.button_about a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    line-height: 13px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #F26464;
    text-align: center;
    padding: 17px 30px;
    border: 3px solid #F26464;
    border-radius: 60px;
}


.button_about a:hover {
    color: #fff;
    background-color: #F26464;
    transition-duration: 0.4s;
    transition-timing-function: ease;
}
/* Skills */
.skill {
    display: flex;
    margin-top: 120px;
}

.col {
    width: 100%;
    display: block;
}

.skills-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
}

.skills-list li {
    display: inline-block;
    color: #373737;
    font-size: 16px;
    background-color: #fff;
    margin: 0 15px 15px 0;
    padding: 10px 20px;
    border: 1px solid #D7D7D7;
    border-radius: 60px;
}
/* Work experience */
.work_exp {
    display: block;
    margin-top: 120px;
    margin-bottom: 120px;
}
.work_exp .col2 {
    display: flex;
    margin-top: 20px;
}

.work_exp .exp_sub {
    width: 100%;
}

.work_exp strong {
    font-size: 14px;
    display: block;
    padding-bottom: 10px;
    color: #373737;
}

.work_exp h3 {
    display: block;
    font-weight: 300;
    font-size: 24px;
    color: #373737;
    margin-bottom: 10px;
}

.work_exp .sub1 {
    font-size: 18px;
    padding: 0 0 30px;
    font-weight: 500;
    color: #373737;
    box-sizing: border-box;
}

.work_exp .sub2 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 300;
}

.work_exp ul {
    padding-top: 10px;
    list-style: none;
}

.work_exp li {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 300;
    position: relative;
    padding-left: 30px;
}

.work_exp ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #373737;
    box-sizing: border-box;
}
/* Lastest works */
.last_work .work_section {
    margin: 0 0 40px;
    padding: 40px 70px 0;
    box-sizing: border-box;
    height: 490px;
    background-color: #F6F8FA;
}

.last_work .row_work {
    display: flex;
    flex-wrap: wrap;
}

.row_work .col_work_1 {
    flex: auto;
    width: 58.33333333%;
    padding: 20px 120px 0 0;
}

.col_work_1 h3 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: #373737;
    margin: 0 0 30px;
}

.col_work_1 p {
    font-size: 19px;
    margin: 0 0 16px;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.5;
}

.row_work .col_work_2 {
    width: 40%;
    box-sizing: border-box;
}

.row_work .col_work_2 img {
    height: auto;
    max-width: 100%;
    margin-bottom: 0;
}

.col_work_1 .button_about {
    margin-top: 20px;
}

/* FOOTER */
#footer {
    background-color: #000;
    padding: 120px 0;
    color: #fff;
    text-align: center;
    width: 100%;
}

#footer .f_section {

}

.f_section span {
    display: block;
    color: rgba(255,255,255,0.5);
    font-weight: 700;
    font-size: 16px;
    padding: 0 0 20px;
    letter-spacing: 1px;
}

.f_section h4 {
    font-size: 48px;
    padding: 0 0 8px;
    color: #fff;
}

.f_section p {
    color: #fff;
    font-size: 18px;
    margin: 0 0 40px;
    letter-spacing: 1px;
}

.f_section .sub_f {
    margin-top: 97px;
}
