/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Raleway', Arial, sans-serif; */
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f3238;
}

.lily {
    
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 1300px;
}

.wrapper1 {
    position: relative;
    overflow: hidden;
    max-width: 480px;
    max-height: 360px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(112, 213, 235, 0.5)
}
.wrapper1 img {
    opacity: 0.7;
    transition: all 0.35s ease;
    position: relative;
	display: block;
	min-height: 100%;
	width: calc(100% + 40px);
    transform: translateX(-5%);
}

.wrapper1:hover img {
    opacity: 1;
	transform: translateX(0);
}

.wrapper1_text {
    text-align: left;
    display: block;
    position: absolute;
    color: #fff;
    bottom: 45px;
    left: 35px;
    transition: all 0.35s ease;
    transform: translateY(0);
}

.wrapper1_text h2 {
    font-size: 40px;
    font-weight: 200;
}

.wrapper1_text p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0);
    transition:  all 0.35s  ease-in;
}

.wrapper1:hover .wrapper1_text {
    transform: translateY(-24px);
}

.wrapper1:hover .wrapper1_text p {
    color: rgba(255, 255, 255, 1);
}


/* DEXTER */
.dexter {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 1300px;
}

.wrapper2 {
    position: relative;
    overflow: hidden;
    max-width: 480px;
    max-height: 360px;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(rgba(112, 213, 235, 1) 0%, rgba(112, 213, 235, 1) 100%);
}

.wrapper2 img {
    opacity: 1;
    transition: all 0.4s ease;
    position: relative;
	display: block;
	min-height: 100%;
}

.wrapper2:hover img {
    opacity: 1;
    /* background: linear-gradient(rgba(112, 213, 235, 1) 0%, rgba(112, 213, 235, 1) 100%); */
}

.wrapper2_text {
    text-align: left;
    color: #fff;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 60px;
}

.wrapper2_text h2 {
    font-weight: 400;
    font-size: 30px;
}

.wrapper2_text p {
    position: absolute;
    left: 60px;
    right: 60px;
    bottom: 60px;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(-80px);
    transition: all 0.35s ease;
}

.wrapper2:hover p{
    opacity: 1;
    transform: translateY(0);
}

.wrapper2_text::after {
    content: '';
    position: absolute;
    right: 30px;
    left: 30px;
    top: 30px;
    height: calc(40%);
    border: 7px solid #fff;
    transform: translateY(0);
    transition: all 0.35s ease;
}

.wrapper2:hover .wrapper2_text::after {
    transform: translateY(150px);
}

